In [6]:
import duckdb
with duckdb.connect("../ads_data.duckdb") as connection:
    df_mart = connection.execute("SELECT * FROM main.mart_ads").df()
df_mart.head()

,headline,occupation,occupation_group,occupation_field,description,duration,working_hours_type,scope_of_work_min,scope_of_work_max,vacancies,employer_name,workplace_region,workplace_city,experience_required,driving_license,access_to_own_car,must_have_languages
0,Industrieketriker,Industrielektriker,Industrielektriker,"Installation, drift, underhåll",Tedelektro håller på att expandera och vi behö...,Tills vidare,Heltid,100,100,1,Tedelektro AB,ej angiven,ej angiven,True,True,False,Svenska
1,Lagertekniker (Deltid/Extra) – Crona Software,"Servicetekniker, data",Elektronikreparatörer och kommunikationselektr...,"Installation, drift, underhåll",Lagertekniker (Deltid/Extra) – Crona Software\...,ej angiven,None,<NA>,<NA>,1,Crona Software AB,Skåne län,Helsingborg,True,True,False,Svenska
2,Bilmekaniker,Personbilsmekaniker,Motorfordonsmekaniker och fordonsreparatörer,"Installation, drift, underhåll",Vi söker en bilmekaniker som vill jobba anting...,Tills vidare,Heltid,100,100,1,Landvetter Bilverkstad Br. Josefsson AB,Västra götalands län,Härryda,True,True,False,Svenska
3,Verkstadstekniker,"Servicetekniker, maskin",Motorfordonsmekaniker och fordonsreparatörer,"Installation, drift, underhåll",Är du vår nya verkstadstekniker? Vi expander o...,Tills vidare,Heltid,100,100,2,Liebherr-Sverige AB,Västmanlands län,Västerås,True,True,False,"Engelska, Svenska"
4,Tågmontör med elkompetens,"Servicetekniker, tåg",Underhållsmekaniker och maskinreparatörer,"Installation, drift, underhåll",Plats: Falköping\nStartdatum: 2025-05-15 \nAns...,6 månader eller längre,Heltid,100,100,1,Railforce Sweden AB,Västra götalands län,Falköping,True,True,False,"Engelska, Svenska"

In [22]:
df_mart["workplace_city"]("vacancies")

TypeError: 'Series' object is not callable

In [24]:
import plotly.express as px

# px.bar(df.head(10), x="workplace_city", y="vacancies")
df = df_mart.groupby("workplace_city")["vacancies"].sum().sort_values(ascending=False).reset_index().head(10)
df

  workplace_city  vacancies
0     ej angiven       5629
1      Stockholm       1515
2       Göteborg        587
3          Malmö        414
4      Linköping        260
5          Luleå        185
6        Uppsala        159
7          Gävle        140
8       Västerås        139
9     Norrköping         90

In [28]:
df_kultur = df_mart[df_mart["occupation_field"] == "Kultur, media, design"]
df_kultur.info()
df = df_kultur.groupby("workplace_city")["vacancies"].sum().sort_values(ascending=False).reset_index().head(10)
df

<class 'pandas.core.frame.DataFrame'>
Index: 899 entries, 3714 to 5120
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   headline             899 non-null    object
 1   occupation           899 non-null    object
 2   occupation_group     899 non-null    object
 3   occupation_field     899 non-null    object
 4   description          899 non-null    object
 5   duration             899 non-null    object
 6   working_hours_type   603 non-null    object
 7   scope_of_work_min    603 non-null    Int64
 8   scope_of_work_max    603 non-null    Int64
 9   vacancies            899 non-null    int64
 10  employer_name        899 non-null    object
 11  workplace_region     899 non-null    object
 12  workplace_city       899 non-null    object
 13  experience_required  899 non-null    bool
 14  driving_license      899 non-null    bool
 15  access_to_own_car    899 non-null    bool
 16  must_have_languages  899 non-null    object
dtypes: Int64(2), bool(3), int64(1), object(11)
memory usage: 109.7+ KB

  workplace_city  vacancies
0     ej angiven       5411
1      Stockholm        192
2          Malmö        124
3       Göteborg         85
4        Uppsala         39
5        Ludvika         24
6          Boden         21
7       Västerås         19
8     Södertälje         19
9         Örebro         13

In [37]:
df_kultur[df_kultur["workplace_city"] == 'ej angiven']

,headline,occupation,occupation_group,occupation_field,description,duration,working_hours_type,scope_of_work_min,scope_of_work_max,vacancies,employer_name,workplace_region,workplace_city,experience_required,driving_license,access_to_own_car,must_have_languages
3724,Kvensk språkarbetare - Storfjord kommun,Språkkonsult,"Översättare, tolkar och lingvister m.fl.","Kultur, media, design",Om tjänsten\nStorfjord kommun driver ett flers...,Tills vidare,Heltid,100,100,1,Storfjord kommune,ej angiven,ej angiven,True,False,False,"Finska, Meänkieli/Tornedalsfinska"
3727,Sound and Lighting Technicians to the 2025 Sum...,Scentekniker,"Ljus-, ljud- och scentekniker","Kultur, media, design","YF GROUP is looking for tourist entertainers, ...",3 månader – upp till 6 månader,Heltid,100,100,10,Your Friends Group,ej angiven,ej angiven,False,False,False,Engelska
3728,DJs to the 2025 Summer Season in Italy,Discjockey,Övriga yrken inom kultur och underhållning,"Kultur, media, design","YF GROUP is looking for tourist entertainers, ...",3 månader – upp till 6 månader,Heltid,100,100,10,Your Friends Group,ej angiven,ej angiven,False,False,False,Engelska
3732,Svensktalande Game Presenter Spännande karriä...,Programpresentatör,Övriga yrken inom kultur och underhållning,"Kultur, media, design",Vi söker nu svensktalande Game Presenters till...,Tills vidare,Heltid,100,100,3,Recruitas AB,ej angiven,ej angiven,True,False,False,"Engelska, Svenska"
3735,Vi söker fotograf i Hässleholm!,Fotograf,Fotografer,"Kultur, media, design","Fotograf, ett drömyrke för dig?\nVi söker nu f...",11 dagar - upp till 3 månader,Heltid,100,100,1,Exakta Photo AB,ej angiven,ej angiven,True,True,False,Svenska
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5092,TOLKAR I ARMENISKA I SKÅNES LÄN,Tolk,"Översättare, tolkar och lingvister m.fl.","Kultur, media, design",Vi är en modern tolkförmedling som bokar och f...,ej angiven,None,<NA>,<NA>,20,Vs Consulting AB,ej angiven,ej angiven,True,False,False,ej specifierat
5093,TOLKAR I ARMENISKA I SKÅNES LÄN,Tolk,"Översättare, tolkar och lingvister m.fl.","Kultur, media, design",Vi är en modern tolkförmedling som bokar och f...,ej angiven,None,<NA>,<NA>,20,Vs Consulting AB,ej angiven,ej angiven,True,False,False,ej specifierat
5094,TOLKAR I ARMENISKA I SKÅNES LÄN,Tolk,"Översättare, tolkar och lingvister m.fl.","Kultur, media, design",Vi är en modern tolkförmedling som bokar och f...,ej angiven,None,<NA>,<NA>,20,Vs Consulting AB,ej angiven,ej angiven,True,False,False,ej specifierat
5095,TOLKAR I ARMENISKA I SKÅNES LÄN,Tolk,"Översättare, tolkar och lingvister m.fl.","Kultur, media, design",Vi är en modern tolkförmedling som bokar och f...,ej angiven,None,<NA>,<NA>,20,Vs Consulting AB,ej angiven,ej angiven,True,False,False,ej specifierat
5096,TOLKAR I ARMENISKA I SKÅNES LÄN,Tolk,"Översättare, tolkar och lingvister m.fl.","Kultur, media, design",Vi är en modern tolkförmedling som bokar och f...,ej angiven,None,<NA>,<NA>,20,Vs Consulting AB,ej angiven,ej angiven,True,False,False,ej specifierat